@forward 'vuetify/settings' with (
  // node_modules/vuetify/lib/styles/settings/_variables.scss
  $color-pack: false,
  $utilities: false,
  $grid-breakpoints: (
    'xs': 0,
    'sm': 600px,
    'md': 960px,
    'lg': 1280px - 16px,
    'xl': 1920px - 16px
  ),
  $heading-font-family: ('Poppins', Arial, sans-serif),
  $typography: (
    'h1': (
      // 28px
      'size': 1.75rem,
      'weight': 600,
      'line-height': 1.4,
      'letter-spacing': 1px,
    ),
    'h2': (
      // 26px
      'size': 1.625rem,
      'weight': 600,
      'line-height': 2.25rem,
    ),
    'h3': (
      // 22px
      'size': 1.375rem,
      'weight': 600,
      'line-height': 1.75rem,
    ),
    'h4': (
      // 18px
      'size': 1.125rem,
      'weight': 600,
    ),
    'h5': (
      // 16px
      'size': 1rem,
      'weight': 600,
      'line-height': 1.25rem,
    ),
    'h6': (
      // 14px
      'size': 0.875rem,
    )
  ),
  // node_modules/vuetify/lib/components/VBtn/_variables.scss
  $button-text-letter-spacing: 0.33px,
  $button-font-weight: 600,
  $button-height: 40px,
  $button-font-size: 1rem,
  // node_modules/vuetify/lib/components/VDialog/_variables.scss
  $dialog-border-radius: 0.25rem,
  $dialog-margin: 1.5rem,
  // node_modules/vuetify/lib/components/VSelectionControl/_variables.scss
  $selection-control-size: 20px
    // couldn't use 1.25rem value since:  --v-selection-control-size: #{$selection-control-size + $modifier}
);
